@{
    ViewData["Title"] = "zarinpal";
}

<div class="text-center">
    <h1 class="display-4">zarinpal</h1>
    @*<input type="submit" value="ارسال درخواست" class="btn btn-success" />  *@
   <a class="btn btn-primary btn-block" asp-action="Payment"> پرداخت</a>
</div>
